@model IEnumerable<NexusCommunication.Models.Connections>

@{
    ViewData["Title"] = "ListConnections";
}

<h1>ListConnections</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConnectionDetails)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConnectionDetails)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ConnectionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ConnectionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ConnectionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
